
<div class="beneficios-container">

  <p class="title">{{ 'beneficios.title' | translate}} <span class="carita">;)</span></p>
  
  <div class="beneficios-list">
    <div class="item">
      <img src="../../../../../assets/Ic_Hour.svg" alt="">
      <p class="text">{{ 'beneficios.ben_uno' | translate}}</p>
    </div>

    <div class="item">
      <img src="../../../../../assets/Ic_HomeOffice.svg" alt="">
      <p class="text">{{ 'beneficios.ben_dos' | translate}}</p>
    </div>

    <div class="item">
      <img src="../../../../../assets/Ic_Workshops.svg" alt="">
      <p class="text">{{ 'beneficios.ben_tres_sub_uno' | translate}} <br>{{ 'beneficios.ben_tres_sub_dos' | translate}}</p>
    </div>

    <div class="item">
      <img src="../../../../../assets/Ic_DrinkSnacks.svg" alt="">
      <p class="text">{{ 'beneficios.ben_cautro_sub_uno' | translate}} <br>{{ 'beneficios.ben_cautro_sub_dos' | translate}}</p>
    </div>

    <div class="item">
      <img src="../../../../../assets/Ic_laptop.svg" alt="">
      <p class="text">{{ 'beneficios.ben_cinco' | translate }}</p>
    </div>

    <div class="item">
      <img src="../../../../../assets/Ic_brain.svg" alt="">
      <p class="text">{{ 'beneficios.ben_seis_sub_uno' | translate }} <br>{{ 'beneficios.ben_seis_sub_dos' | translate }} <br>{{ 'beneficios.ben_seis_sub_tres' | translate }}</p>
    </div>
  </div>
</div>