
<div class="footer-container">
  <p class="text_uno">{{ 'footer.linea_uno_sub_uno' | translate}} <span class="color_azul">{{ 'footer.linea_uno_sub_dos' | translate}}</span></p>
  
  <p class="text_dos">{{ 'footer.linea_dos' | translate}}</p>
  
  <div class="button-container text_tres">
    <a href="https://www.wolox.com.ar/" target="_blank">
      <button class="button-conocer-mas" id="buttonConocerMas">{{ 'footer.button' | translate}}</button>
    </a>
  </div>

  <img class="text_cuatro" src="../../../../../assets/Ic_Wolox_Footer.svg">
</div>
