/* *****************  Importacion de fuentes ***************** */

/* FIRA-SANS */

@font-face {
    font-family: "FiraSansBlack";
    src: url("./Fira_Sans/FiraSans-Black.ttf");
}
  
@font-face {
    font-family: "FiraSansBlackItalic";
    src: url("./Fira_Sans/FiraSans-BlackItalic.ttf");
}

@font-face {
    font-family: "FiraSansBold";
    src: url("./Fira_Sans/FiraSans-Bold.ttf");
}

@font-face {
    font-family: "FiraSansBoldItalic";
    src: url("./Fira_Sans/FiraSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "FiraSansExtraBold";
    src: url("./Fira_Sans/FiraSans-ExtraBold.ttf");
}
 
@font-face {
    font-family: "FiraSansExtraBoldItalic";
    src: url("./Fira_Sans/FiraSans-ExtraBoldItalic.ttf");
}
  
@font-face {
    font-family: "FiraSansExtraLight";
    src: url("./Fira_Sans/FiraSans-ExtraLight.ttf");
}

@font-face {
    font-family: "FiraSansExtraLightItalic";
    src: url("./Fira_Sans/FiraSans-ExtraLightItalic.ttf");
}
  
@font-face {
    font-family: "FiraSansItalic";
    src: url("./Fira_Sans/FiraSans-Italic.ttf");
}
  
@font-face {
    font-family: "FiraSansLight";
    src: url("./Fira_Sans/FiraSans-Light.ttf");
}

@font-face {
    font-family: "FiraSansLightItalic";
    src: url("./Fira_Sans/FiraSans-LightItalic.ttf");
}
  
@font-face {
    font-family: "FiraSansMedium";
    src: url("./Fira_Sans/FiraSans-Medium.ttf");
}

@font-face {
    font-family: "FiraSansMediumItalic";
    src: url("./Fira_Sans/FiraSans-MediumItalic.ttf");
}

@font-face {
    font-family: "FiraSansRegular";
    src: url("./Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "FiraSansSemiBold";
    src: url("./Fira_Sans/FiraSans-SemiBold.ttf");
}

@font-face {
    font-family: "FiraSansSemiBoldItalic";
    src: url("./Fira_Sans/FiraSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "FiraSansThin";
    src: url("./Fira_Sans/FiraSans-Thin.ttf");
}

@font-face {
    font-family: "FiraSansThinItalic";
    src: url("./Fira_Sans/FiraSans-ThinItalic.ttf");
}
  
/* ***************** */

/* MONTSERRAT */

@font-face {
    font-family: "MontserratBlack";
    src: url("./Fira_Sans/Montserrat-Black.ttf");
}
  
@font-face {
    font-family: "MontserratBlackItalic";
    src: url("./Fira_Sans/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("./Fira_Sans/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontserratBoldItalic";
    src: url("./Fira_Sans/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "MontserratExtraBold";
    src: url("./Fira_Sans/Montserrat-ExtraBold.ttf");
}
 
@font-face {
    font-family: "MontserratExtraBoldItalic";
    src: url("./Fira_Sans/Montserrat-ExtraBoldItalic.ttf");
}
  
@font-face {
    font-family: "MontserratExtraLight";
    src: url("./Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "MontserratExtraLightItalic";
    src: url("./Montserrat/Montserrat-ExtraLightItalic.ttf");
}
  
@font-face {
    font-family: "MontserratItalic";
    src: url("./Montserrat/Montserrat-Italic.ttf");
}
  
@font-face {
    font-family: "MontserratLight";
    src: url("./Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "MontserratLightItalic";
    src: url("./Montserrat/Montserrat-LightItalic.ttf");
}
  
@font-face {
    font-family: "MontserratMedium";
    src: url("./Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MontserratMediumItalic";
    src: url("./Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("./Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("./Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratSemiBoldItalic";
    src: url("./Montserrat/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "MontserratThin";
    src: url("./Montserrat/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "MontserratThinItalic";
    src: url("./Montserrat/Montserrat-ThinItalic.ttf");
}