<nav-component [cantidadLike]="cantidadLike"></nav-component>

<div class="list-page-container">
  <h1>Listado de Tecnologías</h1>

  <div class="filter-container">
    <input type="text" class="input_filter" [formControl]="tecnologiasForm" placeholder="Buscar una tecnología" autocomplete="off" id="filterInputId">

    <div class="buttons_filter">
      <ul id="opc-flters">
        <li id="filterTodosId" (click)="filter('')">Todos</li>
        <li id="filterFrontId" (click)="filter('Front-End')">Front</li>
        <li id="filterBackId" (click)="filter('Back-End')">Back</li>
        <li id="filterMobileId" (click)="filter('Mobile')">Mobile</li>
        <li id="filterAzId" (click)="order('A')">A-Z</li>
        <li id="filterZaId" (click)="order('Z')">Z-A</li>
      </ul>
    </div>
  </div>

  <div class="list-container">

    <div class="item-container" *ngFor="let item of _listadoFiltrado" id="{{item.tech}}Id">
      
        <div class="img-container">
          <img src="{{ item.logo }}" class="item-logo">
        </div>
    
        <div class="info-container">
          <div class="title-tech-container">
            <h4>{{item.tech}}</h4>
          </div>
    
          <div class="info-tech-container">
            <p>{{item.year}}</p>
            <p>{{item.author}}</p>
            <p>{{item.license}}</p>
            <p>{{item.language}}</p>
            <p>{{item.type}}</p>
          </div>
  
          <div class="liked-span" *ngIf="item.liked == false">
            <img src="../../../../assets/icons/like.png" (click)="liked(item.tech)">
          </div>
  
          <div class="liked-span" *ngIf="item.liked == true">
            <img src="../../../../assets/icons/like_blue.png" (click)="liked(item.tech)">
          </div>
        </div>
  
    </div>

  </div>

  <div class="cantidad-container">
    <p class="cantidad-tech">Se visualizan {{_tecnologiasVisibles}} de {{_tecnObtenidas.length}} tecnolgías disponibles</p>
  </div>
</div>

<loading-component *ngIf="loading"></loading-component>
<error-component *ngIf="tError"></error-component>
