
<div class="inicio-container">

  <div class="inicio-container-izq">

    <img src="../../../../../assets/img_woloxer@2x.png">

    <div class="text-red-container">
      <p class="woloxer-container">
        <span class="w-number">350 + </span> <span class="w-text">Woloxers</span>
      </p>

      <div class="twitter-container">
        <span class="logo-twitter">
          <img src="../../../../../assets/icons/twitter.png" alt="">
        </span>
        <p class="user_wolox">@Wolox</p>
      </div>

      <div class="button-container">
        <a href="https://twitter.com/Wolox" target="_blank">
          <button class="bg-transparent" id="buttonSiguenos">Siguenos</button>
        </a>
      </div>
    </div>
  </div>

  <div class="inicio-container-der">
    <div class="texto-container">
      <p class="texto_1">Trabajamos para</p>
      <p class="texto_2">
        <span class="color_azul">convertir</span> <span class="color_verde"> ideas</span> en
      </p>
      <p class="texto_3">productos.</p>
    </div>
  </div>
</div>

